<nav class="indigo">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">CCAPDEV</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
    </ul>
  </div>
</nav>
