<div class="row">
  <div class="col s12">
    <h3>Welcome {{ name }}!</h3>

    <h5>Congratulations on successfully registering and logging in to the application!</h5>

    <p>Now, try to <a href="/logout">logout</a> and see if you can access the home page (<a href="/">http://localhost:9090/</a>).</p>
  </div>
</div>
